#game_instance {
  min-width: 1%;
}

.Navbar {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: greenyellow;
  padding: 8px 16px;
}

.logo-text {
  margin: 0;
  text-transform: uppercase;
}

.logo-container, .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 601px) {
  .Navbar {
    font-size: 2rem;
  }
  .Navbar img {
    max-width: 50px;
  }
}

@media screen and (max-width: 600px) {
  .Navbar {
    font-size: 1.25rem;
  }
  .Navbar img {
    max-width: 30px;
  }
}

.Navbar a {
  color: greenyellow;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: Creepster;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.how-to-play {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  width: 60%;
  margin: auto;
}

.About {
  font-family: 'Courier New', Courier, monospace;
  max-width: 75%;
  margin: auto;
}

.portrait {
  max-width: 25%;
}

.tech-used {
  display: flex;
  justify-content: space-around;
}

.icon {
  max-width: 10%;
}

figcaption {
  font-size: .5rem;
}

.social-links a img{
  max-width: 5%;
}
